<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.nikolaymakhonin.android_app_example"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <activity
            android:name=".frontend.activities.MainActivity"
            android:theme="@style/AppDefault"
            >
            <intent-filter>
                <!-- For Google Search: -->
                <!-- http://developer.android.com/training/app-indexing/deep-linking.html -->
                <!-- https://developers.google.com/app-indexing/android/app#add-intent-filters-for-http-urls -->

                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <data android:scheme="https"
                    android:host="www.github.com"
                    android:pathPrefix="/NikolayMakhonin/AndroidAppExample" />

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.activities.MainPreferenceActivity"
            android:label="Settings"
            android:theme="@style/AppDefault.Preference">
        </activity>

        <!-- region Google APIs -->

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />

        <!-- endregion -->

    </application>

</manifest>